interface=ens37
domain=NoNoNet
no-resolv
expand-hosts
server=8.8.8.8
dhcp-range=192.168.111.2,static,72h
#,192.168.111.200,255.255.255.0,72h
dhcp-option=option:router,{{ pxe_server }}
dhcp-option=6,{{ pxe_server }}
dhcp-option=option:ntp-server,{{ pxe_server }}
dhcp-option=15,NoNoNet
dhcp-lease-max=150
#dhcp-leasefile=/var/log/dnsmasq.leases
leasefile-ro
cache-size=15
{% for addr in mac_addr %}
dhcp-host={{ mac_addr[addr][1] }},name,{{ myaddr[loop.index - 1] }}
{% endfor %}
# Включаем TFTP-сервер:
enable-tftp
# Задаём путь до файлов загрузки:
tftp-root=/tftpboot
dhcp-boot=pxelinux.0,boothost,{{ pxe_server }}
pxe-prompt="Booting PXE Client", 1
## ESXi x86 BIOS
#dhcp-boot=esxi7/pxelinux
#pxe-service=X86PC, "Boot ESXi x86 BIOS Installer", esxi7/pxelinux
# ESXi x86 EFI
#dhcp-match=set:efi64,60,PXEClient:Arch:00007
#dhcp-boot=tag:efi64,EFI/grubx64.efi
dhcp-match=set:efi64,option:client-arch,7
dhcp-boot=tag:efi64,EFI/grubx64.efi
#dhcp-script=/root/dns_masq.sh
