function load_video {
insmod efi_gop
insmod efi_uga
insmod video_bochs
insmod video_cirrus
insmod all_video
}

load_video
set gfxpayload=keep
set gfxmode=auto
set timeout=0
loadfont unicode
font=unicode
insmod gfxterm
insmod gzio
insmod png

submenu "{{ item.value[0] }} " {

menuentry "{{ item.value[0] }}" {
    linux images/{{ item.value[0] }}/vmlinuz inst.ks=http://{{ pxe_server }}/{{ item.value[2] }}/ks_{{ item.value[1] | replace(':', '-') | lower  }}.ks ip=dhcp
    initrd images/{{ item.value[0] }}/initrd.img
        }

} 
~                  
