#version=Centos7
#System authorization information
#%include /tmp/net
auth --enableshadow --passalgo=sha512

# Install OS instead of upgrade
install

# Reboot after installation
reboot --eject

# License agreement
eula --agreed

# Use CDROM installation media
#cdrom
# Use network installation
#url --url="https://mirror.yandex.ru/centos/7/os/x86_64"
url --url=http://{{ pxe_server }}/{{ item.value[2] }}

# Use graphical install
#graphical
# Use text mode install
text

# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='ru','us' --switch='grp:alt_shift_toggle'

# System language
lang en_US.UTF-8 --addsupport=ru_RU.UTF-8

# Root password
#rootpw --lock
rootpw --iscrypted  $6$Vpq5H3jSAFfLW4DZ$sx6uAQDqEao6uY3fltFZSYSedn46NwBN8XcmbJAKYWT21eFLHAoAfdhZPihVIKpt9l9WSc1MK4e23fNtl.Kfk.

# Add user
{% for user in users %}
    user --name={{ user }} --groups=wheel --iscrypted --password=$6$Vpq5H3jSAFfLW4DZ$sx6uAQDqEao6uY3fltFZSYSedn46NwBN8XcmbJAKYWT21eFLHAoAfdhZPihVIKpt9l9WSc1MK4e23fNtl.Kfk.
{%endfor%}

# убрать лишние сервисы и добавить нужные
#services --disabled=autofs,alsa-state,avahi-daemon,bluetooth,pcscd,cachefilesd,colord,fancontrol,fcoe,firewalld,firstboot-graphical,gdm,httpd,initial-setup,initial-setup-text,initial-setup-graphical,initial-setup-reconfiguration,kdump,libstoragemgmt,ModemManager,tog-pegasus,tmp.mount,tuned \
# --enabled=bacula-fd,chronyd,edac,gpm,numad,rsyslog,sendmail,smartd,sm-client,sssd,zabbix-agent
services --disabled=NetworkManager
services --enabled=chronyd
services --enabled=sshd


# System timezone
#timezone Europe/Moscow --isUtc --nontp
timezone Europe/Moscow  --isUtc --ntpservers=192.168.1.2,192.168.1.3

# Firewall rule
#firewall --enabled --port=22822:tcp
#firewall --disabled --service=ssh

# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda

# Partition clearing information
# Указывает, что мы будем повторно инициализировать наш диск. (Рекомендуется при автоматической установке)
zerombr

#clearpart --none --initlabel
#  Указывает, что все разделы будут очищены на диске sda
clearpart --all --initlabel --drives=sda

# Disk partitioning information
#part pv.157 --fstype="lvmpv" --ondisk=sda --size=7167
# grow - Эта команда указывает установщику anaconda создать максимально большой раздел.
# pv.01 - не используется после установки
part pv.01 --fstype="lvmpv" --ondisk=sda --size=1024 --grow
{% if item.value[3] == 'efi' %}
    part /boot/efi --fstype=efi --grow --maxsize=200 --size=20
{% endif %}
part /boot --fstype="xfs" --ondisk=sda --size=512
volgroup centos --pesize=4096 pv.01
logvol swap --fstype="swap" --size=4096 --name=swap --vgname=centos
#logvol / --fstype="xfs" --maxsize=16384 --size=4096 --name=root --vgname=centos
logvol / --fstype="xfs" --maxsize=10000 --size=10000 --name=root --vgname=centos
logvol /var --fstype="xfs" --size=1024 --grow --name=var --vgname=centos

##### 3. Package installation
#url --url="https://mirror.yandex.ru/centos/7/os/x86_64/"
#repo --install --name="CentOS" --baseurl="http://mirror.centos.org/centos/7/os/x86_64/"
#repo --name="CentOS" --baseurl="https://mirror.yandex.ru/centos/7/os/x86_64/"
#repo --name="EPEL" --baseurl="https://dl.fedoraproject.org/pub/epel/7/x86_64/"
#repo -–name=EPEL -–baseurl=http://download.fedoraproject.org/pub/epel/7/x86_64/

%packages
@^minimal
@core
kexec-tools
chrony
sudo
#policycoreutils-python
# remove from Core:
-aic94xx-firmware
-alsa-firmware
-bfa-firmware
#-dracut-config-rescue
-ivtv-firmware
-iwl1000-firmware
-iwl100-firmware
-iwl105-firmware
-iwl135-firmware
-iwl2000-firmware
-iwl2030-firmware
-iwl3160-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6000g2b-firmware
-iwl6050-firmware
-iwl7260-firmware
#-kernel-tools
-libertas-sd8686-firmware
-libertas-sd8787-firmware
-libertas-usb8388-firmware
#-microcode_ctl
#-NetworkManager
#-NetworkManager-tui
-ql2100-firmware
-ql2200-firmware
-ql23xx-firmware

%end

%addon 
  com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
#%post --log=/var/log/kickstart.log
#!/bin/bash
# echo "-----BEGIN OPENSSH PRIVATE KEY-----
#b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAABlwAAAAdzc2gtcn
#NhAAAAAwEAAQAAAYEAq8M6oaWdr3Co3HAPWLHlJOvww9k89Szxl3g+4YevNvl3RS4UlANB
#CZDbTLGhwR7X1nRP4PA6jBtl3U42XJ+27qPHxGPbHuSwForPfbCnsyN8XMwIY8Py7ak1pu
#vtm2FQho3LoDMHEA+P8TNVjuZ/0hkwZTWGcxIz3wns8A0xa8HOabv2Sia1AvR8m4w387op
#gr0YO752956zGhT1qjpRs3RaqIHyxgo0DU+NCaTumfCxUY5FsE0MCx4+hIUqCZhfCpER5W
#Z4UdiEXmZM9sGi/8hh48qiYjG4PmzZFWZTJrnzxyyr+/ubrQ4RdFgMfy2bG16xevUhWUhM
#pUr+qf+vtQBnJThsO/Q5k1l/K28YUJjpMr4DSr9fmY06qbvLcBrz9n6QoaQFF0uay4i4Ak
#B+Psz5zW1Mw1OMNOiAQhA2LjwBv+Tjcsyb9x8xcBLrbugHlMOM+OyGNzQabYS4uJM+wRSJ
#f3ZBqhMNe7r/N2mAGHfvOTC/76pRlKZVuBwZQ5zjAAAFgELNeORCzXjkAAAAB3NzaC1yc2
#EAAAGBAKvDOqGlna9wqNxwD1ix5STr8MPZPPUs8Zd4PuGHrzb5d0UuFJQDQQmQ20yxocEe
#19Z0T+DwOowbZd1ONlyftu6jx8Rj2x7ksBaKz32wp7MjfFzMCGPD8u2pNabr7ZthUIaNy6
#AzBxAPj/EzVY7mf9IZMGU1hnMSM98J7PANMWvBzmm79komtQL0fJuMN/O6KYK9GDu+dvee
#sxoU9ao6UbN0WqiB8sYKNA1PjQmk7pnwsVGORbBNDAsePoSFKgmYXwqREeVmeFHYhF5mTP
#bBov/IYePKomIxuD5s2RVmUya588csq/v7m60OEXRYDH8tmxtesXr1IVlITKVK/qn/r7UA
#ZyU4bDv0OZNZfytvGFCY6TK+A0q/X5mNOqm7y3Aa8/Z+kKGkBRdLmsuIuAJAfj7M+c1tTM
#NTjDTogEIQNi48Ab/k43LMm/cfMXAS627oB5TDjPjshjc0Gm2EuLiTPsEUiX92QaoTDXu6
#/zdpgBh37zkwv++qUZSmVbgcGUOc4wAAAAMBAAEAAAGBAINkx3dc0DGjRynKd5LsE1SZQQ
#cxKdaMWQv8Km4wc7LkR38ebxODIb+Flp0mzYyEYaxmMazrWH5Rfy06ZY+ZhkEr/OeZU8hg
#POwhp/SIrOD25m2+jzRyc2WnKanVlWBlo0orMngMUPzSStTC5lJ4tZMtPb5OodlpNVELsL
#s5/HJoQdTUuuWikpn+GUyMiUjjQloG+YDKhQuL1YrAOeXM0y8qdSeusN8acxMzpbqY9wXA
#AIVZBqqFZg8jRcPucmgArIIrSzJB2shJMFpWFoOHxrFIo7JeiEo5FHiBZxX4NwJwWbdfSL
#yE4o4DmDBiOvqIX9/sA/WK405NhL/CFH7l0vuKsSJSkuhoDmtbJ4KstmXG0612XUPPkCyZ
#hITi9n7WOXWjZlC6LAexzuejJCGfvTUqIkst8pixnOa4pJpmBsVKH1mIipzPSwYU1jaJuq
#urmAXJr5vxLL9OLhthDbZIPJDJw1Ydppof6EbwiDW3zHOxNMEigXLlmB/FeT8YlKPMMQAA
#AMEA4U2y+s3/3TH9px9AIRIdOZ9nL/dlOODSqkUT5QbWbgJExKGHI/IQTWoa7KJsRWIS2B
#+97Tgvtm1CrtB2E+rGesKVchslrDImyOJmrRxRnUX4hvWHUGdoV2Zh0OLRFhRZK6z+jB1E
#1tAABs6g3+GAkcaHPDQ4A2bphv3Kt2M4MfuTnlu/0EDUuXYHD1mHqgCcf1tbu2tbU6X8BY
#flQJ1a+6aGtIT72zwY55vXfQ3NJZ4yWGmUzJHCUKL1wQroBiWqAAAAwQDhVYc2Glhy0h5y
#FCRdVk1GPEaR9fRMtEzQEw8wJ5CnAO/P0pP4Py+/PLUFzHa6pwBU70dpkj0H3kJDzypIds
#GFOOgkCc7Ib2IFFJ3sw8dfA5qqszySmoV8msiH4SNyHFo5+xmiSi3YUPI8Wxx4Rag0d8gL
#eyDdahcfAx6e8Tn85W6d/Igr1+M87BooExKhkQJHR5YQBvgTb9PMzvcgX3eCrcjw6yOcwM
#pisKrpTu4WoXIgSop2ydZw7i1hQOffv10AAADBAMMjT3bJF1Us0JYVTrHBJoRAQKREFhNG
#6UsrOzpuqYaUIwtvYFoGQ34Z4UHku/1aKDqQR3hDlfiKKgNUSPagn9QPsioqt75nOJ6ch8
#sSQQeoHGqjxJgc6BqB/8JJd2bIXBf5NNwdaKd0hc78ht/7JgAqFFQL8Gf/1daZuC8U+IUJ
#TX6JaLMrYWRiMKmu+iOiovfqAjePgqNJfhBuI8MA73yLJjv/+hL3YLsEzGTl+XQZNziAO5
#e0F3pLPBPPqgpJPwAAAAlhZG1pbkBweGU=
#-----END OPENSSH PRIVATE KEY-----" >> /tmp/id_rsa 
#/bin/chmod 0600 /tmp/id_rsa
#eval $(ssh-agent)
#ssh-add  /tmp/id_rsa
#ssh -o 'StrictHostKeyChecking no' {{ pxe_server }} -l admin 'sudo sed -i -e  "/^#.*{{ item.value[1] }}/I s/^#//;/{{ item.value[1] }}/I s/^/#/" /etc/dnsmasq.conf; grep -v ^# /etc/dnsmasq.conf | grep -q dhcp-host; if [ $? -eq 1 ];then sudo rm /etc/dnsmasq.conf && sudo /etc/init.d/dnsmasq stop; else sudo /etc/init.d/dnsmasq restart;fi &>>/home/admin/kickstart.log'
#if [ $? -eq 0 ]
#then
#  echo "grep execution OK"
#fi
#eval $(ssh-agent)
#ssh-add  /tmp/id_rsa
#{% if item.value[3] == 'efi' %}
#    ssh -o 'StrictHostKeyChecking no' {{ pxe_server }} -l admin "rm /tftpboot/EFI/grub.cfg-01-{{ item.value[1] | replace(':','-')| lower }}"
#{% else %}

#    ssh -o 'StrictHostKeyChecking no' {{ pxe_server }} -l admin "rm /tftpboot/pxelinux.cfg/01-{{ item.value[1] | replace(':','-')| lower }}"
#{% endif %}
# Change ssh port
#/usr/bin/sed -i "s%#Port 22%Port 43389%g" "/etc/ssh/sshd_config"
#/usr/bin/sed -i "s%#PermitRootLogin yes%PermitRootLogin no%g" "/etc/ssh/sshd_config"
#/sbin/semanage port -a -t ssh_port_t -p tcp 22822
#/usr/bin/firewall-cmd --permanent --zone=public --remove-service=ssh
#%end
