default boot/menu.c32
menu title Boot menu

label linux
  menu label ^Install system
  #menu default
  kernel images/{{ item.value[0] }}/vmlinuz
  append initrd=images/{{ item.value[0] }}/initrd.img ip=dhcp inst.repo=http://{{ pxe_server }}/{{ item.value[2] }} inst.ks=http://{{ pxe_server }}/{{ item.value[2] }}/ks_{{ item.value[1] | replace(":", "-") | lower }}.ks
timeout 1
